/* ---------------------- */
  #403f42
  #2bbbad
/* ---------------------- */


/* ----------------------------------------------------------- */
/*                       Basic Setup                           */
/* ----------------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    color: #555;
    font-family: 'Raleway', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height:0;
    visibility: hidden;
}

/* ----------------------------------------------------------- */
/*                     Reusable Components                     */
/* ----------------------------------------------------------- */


/* ----------------------------------------------------------- */
/*                           Header                            */
/* ----------------------------------------------------------- */


/* ----------------------------------------------------------- */
/*                         Auth Modal                          */
/* ----------------------------------------------------------- */


/* ----------------------------------------------------------- */
/*                          Footer                             */
/* ----------------------------------------------------------- */
